<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"

	th:replace="~{base::layout(~{::section})}">

<head>

<meta charset="ISO-8859-1">

<title>Insert title here</title>

</head>

<body>

	<section>

		<div class="container">

			<div class="row">

				<div class="col-md-6 offset-md-3">

					<div class="card mt-1">

						<form action="forgetpassword" method="post">

							<div class="card-header text-center fs-4">Forget Password</div>
 
							<th:block th:if="${session.errorMsg}">

								<p class="text-center fs-4 text-danger">[[${session.errorMsg}]]</p>
 
								<th:block th:text="${@sessionHelper.removeMessageFromSession()}">

								</th:block>
 
							</th:block>
 
							<div class="card-body">

								<div class="mb-3">

									<label>Email</label> <input type="text" name="email"

										class="form-control" placeholder="Please enter email" required>

								</div>

								<div class="mb-3">

									<label>Mobile Number</label> <input type="text"

										name="mobileNumber" class="form-control"

										placeholder="Please enter mobile number" required>

								</div>

								<button style="background-color: #8b008b;" class="btn btn-primary col-md-12">Submit</button>

							</div>

						</form>

					</div>

				</div>

			</div>

		</div>
 
	</section>

</body>

</html>