<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Sunshine Book Store</title>
</head>
 
<body>
 
	<section>
<div class="container text-center mt-5">
<h1 class="font-weight-bold">Sunshine Book Store</h1>
<p>Start collecting your books in very smart way. We provide very efficient and smarter way of handling books.</p>
<button style="background-color: #8b008b;" class="btn btn-sm text-white">Get Started</button>
</div>
</section>
</body>
</html>